:root {
  --primary-color: white;
  --default-font-family: "poppins", sans-serif;
  --secondary-color: rgb(22, 0, 0);
  --button-color: #462cb2;
}

body {
  font-family: var(--default-font-family);
  background: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
   color: var(--primary-color);
}

.container{
max-width: 1400px;
margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/header\ photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
 
}

.hero h1{
    font: weight 500;
  font-size: 80px;
  line-height:1;
  margin: 30px 0;
}
.hero h2{
    font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
margin: 0
}
.hero h3{
    font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0
}

.hero a{
font-weight: 500;
font-size: 14px;
text-align: center;
line-height: 1.5;
margin-top: 30px;
display: inline-block;
color: var(--secondary-color);
letter-spacing: 3px;
text-decoration: none;
text-transform: uppercase;
background: white;
padding: 15px 30px;
}

footer{
    color:white;
     background-image: linear-gradient(rgba(17, 0, 0, 0.7), rgba(17, 0, 0, 0.7)),
    url(/images/footer-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0px;
  max-width:  1200px; ;
  margin: 0 auto
}


.photo-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;}

footer h3{
font-weight: 500;
font-size: 15px;
line-height: 20px;
}

footer p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    margin-right: 20px;
}

footer ul{
    padding: 0;}

footer li{
    list-style: none;
    margin: 0
}

footer a{
    color: var(--primary-color);
    opacity: 0.7;
}

  @media (max-width:950px){
    .hero{
        padding: 60px, 0;
    }
    .hero h1{
        font-size: 40px ;
    }
    .hero h2{
        font-size: 20px ;
    }
     .hero h3{
        font-size: 12px ;
    }
  }