:root {
  --primary-color: white;
  --default-font-family: "poppins", sans-serif;
  --secondary-color: rgb(22, 0, 0);
  --button-color: #462cb2;
}

body {
  font-family: var(--default-font-family);
  background: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
   color: var(--primary-color);
}

.container{
max-width: 1400px;
margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/header\ photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
 
}

header h1{
    font: weight 500;
  font-size: 80px;
  line-height:1;
  margin: 30px 0;
}
header h2{
    font-weight: 400;
  font-size: 35px;
  line-height: 1.5;
margin: 0
}

header h3{
    font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0
}

header a{
font-weight: 500;
font-size: 14px;
text-align: center;
line-height: 1.5;
margin-top: 30px;
display: inline-block;
color: var(--secondary-color);
letter-spacing: 3px;
text-decoration: none;
text-transform: uppercase;
background: white;
padding: 15px 30px;
}

.grid{
  display: grid;
  grid-gap: 64px;
}
.grid-main{
    grid-template-columns: 1fr 1fr;
}

.img-responsive{
  max-width: 100%;
  display: block;
}

.text-center{
  text-align: center;
}

.grid-styles{
  grid-template-columns: 1fr 1fr 1fr;
}

.photo-styles{
  background: grey;
  margin: 30px 0;
}

.video-embed {
  width: 100%;
  aspect-ratio: 21/9;
  margin: 10px;
}

.photostyles-body{
  padding: 30px;
}

.photostyles-footer{
padding: 0 30px 30px;
}

.btn{
  display: block;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #462cb2;
  text-decoration: none;
}
section{
  max-width:  100%;
  margin: 0 auto;
  padding: 100px;
 }

 section.photo-styles{
  background:rgb(153, 138, 138) ;
 }

main{
  background: rgb(214, 193, 193);
}

main h2{
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  color:var(--secondary-color);
  margin: 0;
  opacity: 0.4;
  text-transform: uppercase ;
}

main h3{
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
    color:var(--secondary-color);
    margin: 0;
}

main h4{
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--secondary-color);
  margin: 0;
}

main h5{
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: var(--secondary-color);
  margin: 0;
}

main p{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
    color:var(--secondary-color);
    opacity: 0.7;
}

footer{
    color:white;
     background-image: linear-gradient(rgba(17, 0, 0, 0.7), rgba(17, 0, 0, 0.7)),
    url(/images/footer-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    }

.grid-footer{
       grid-template-columns: 1fr 2fr 2fr;
  }

footer h3{
font-weight: 500;
font-size: 15px;
line-height: 20px;
}

footer p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
    margin-right: 20px;
}

footer ul{
    padding: 0;}

footer li{
    list-style: none;
    margin: 0
}

footer a{
    color: var(--primary-color);
    opacity: 0.7;
}

  @media (max-width:970px){
    header{
        padding: 60px, 0;
    }
    header h1{
        font-size: 40px ;
    }
    header h2{
        font-size: 20px ;
    }
    header h3{
        font-size: 12px ;
    }
    .grid{
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
    section{
      padding: 25px;
    }
    .video-embed {
    width: 50%;
    aspect-ratio: 16/9;
  }
  }